header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  .wrap {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 100px;

    .logo {
      display: block;
      width: 250px;
      position: absolute;
      left: 10px;
    }
  }
}
